
part-1/1.10/frontend-example-docker/
part-1/1.11/backend-example-docker/
part-1/1.12/backend/backend-example-docker/
part-1/1.12/frontend/frontend-example-docker/
part-1/1.13/spring-example-project/
part-1/1.14/rails-example-project/
part-1/1.15/streetrunner/
part-2/2.3/backend/backend-example-docker/
part-2/2.3/frontend/frontend-example-docker/
part-2/2.4/scaling-exercise/
part-2/2.5/backend/backend-example-docker/
part-2/2.5/frontend/frontend-example-docker/
part-2/2.6/backend/backend-example-docker/
part-2/2.6/frontend/frontend-example-docker/
part-2/2.7/ml-kurkkumopo-backend/
part-2/2.7/ml-kurkkumopo-frontend/
part-2/2.7/ml-kurkkumopo-training/
part-2/2.8/backend/backend-example-docker/
part-2/2.8/frontend/frontend-example-docker/
part-2/2.9/backend/backend-example-docker/
part-2/2.9/frontend/frontend-example-docker/
part-2/2.9/cache/
part-2/2.9/database/
part-2/2.10/backend/backend-example-docker/
part-2/2.10/frontend/frontend-example-docker/
part-2/2.10/cache/
part-2/2.10/database/
part-3/3.1/backend/backend-example-docker/
part-3/3.1/frontend/frontend-example-docker/
part-3/3.1/cache/
part-3/3.1/database/
part-3/3.4/backend/backend-example-docker/
part-3/3.4/frontend/frontend-example-docker/
part-3/3.4/cache/
part-3/3.4/database/
part-3/3.5/backend/backend-example-docker/
part-3/3.5/frontend/frontend-example-docker/
part-3/3.5/cache/
part-3/3.5/database/
part-3/3.6/backend/backend-example-docker/
part-3/3.6/frontend/frontend-example-docker/
part-3/3.6/cache/
part-3/3.6/database/
part-3/3.7/rails-example-project/